@{
    ViewData["Title"] = "About";
}
@*<h3>@ViewData["Message"]</h3>*@
<div class="container body-content " style="color:black" >
    <br />
    <br />
    <br />
    <br />
<h2>@ViewData["Title"]</h2>
    <h3 class="h3 text-center font-monospace">
    تم عمل هذا المشروع بواسطه طلبه المعهد العالي لعلوم الحاسب و نظم المعلومات ضمن متطلبات الحصول على بكاليريوس نظم المعلومات الإداريه
    </h3>
</div>