@{
    ViewData["Title"] = "Home Page";
}


    <section class="main first " id="modelx">
    <div class="container body-content">
        <h1 class="h3 text-center font-monospace">
            Welcome to our graduation project<br />
            the Personal Expense Manager<br />
            A Graduaiton Project by the students of the Computer Information Systems (C.I.S.) program in New Cairo Academy<br />
        </h1>
	</div>
        <img src="https://svgshare.com/i/VYy.svg" alt="arrow" class="arrow">
    </section>
    <section class="main second" id="model3">
    <div class="container body-content">
        <h1 class="h3 text-center font-monospace">this innovative application aims to simplify and organize your personal finances. With our Expense Manager, you can effortlessly track and analyze your expenses, helping you gain control over your spending habits and achieve financial goals. </h1> </div>
    </section>
    <section class="main third" id="modely">
    <div class="container body-content">
        <h1 class="h3 text-center font-monospace">Our user-friendly interface and powerful features make it easy to monitor your income, categorize expenses, and generate insightful reports. Take charge of your financial journey with the Personal Expense Manager and experience the convenience and peace of mind that comes with effective expense management.</h1>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>

